* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
    scroll-behavior: smooth;
}

:root {
    --color: #f2785f;
}

nav {
    display: flex;
    width: 100%;
    height: 10vh;
    background-color: crimson;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    color: white;
    position: fixed;
    top: 0;

}

.logo {
    font-size: 2.5rem;
    font-weight: 800;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo span {
    color: rgb(6, 255, 172);
    font-size: 2rem;
}

nav ul {
    display: flex;
    gap: 2rem;
    align-items: center;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    list-style: none;
    text-decoration: none;
    color: white;
    font-size: 1.4rem;
    transition: all 0.3s ease;
    cursor: pointer;
}

nav ul li a:hover {
    color: aqua;
    letter-spacing: 0.2rem;

}

nav ul button {
    background-color: var(--color);
    padding: 0.5rem 2rem;
    border: none;
    font-size: 1.3rem;
    font-weight: bold;
    color: white;
    border-radius: 5px;

}

nav .bx {
    font-size: 3.1rem;
    display: none;
    cursor: pointer;

}

#Home {
    height:100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    letter-spacing: -0.5px;

}

.left {
    width: 50%;
    height: 100%;
    align-self: center;
    justify-self: center;
   

}

.left .txt {
    margin-top: 30%;
    padding: 5% 10%;

}

.left h1 {
    font-size: 2.5vmax;
}

.left h1 span {
    color: var(--color);
    font-size: 3vmax;

}

.left h2 {
    font-size: 2.5rem;
}

.left p {
    font-size: 1.2rem;
}

.left button {
    background-color: var(--color);
    margin-top: 1rem;
    padding: 0.8rem 2.5rem;
    border: none;
    font-size: 1.3rem;
    font-weight: bold;
    color: white;
    border-radius: 5px;
}

.right {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.right img {

    height: 80%;
    width: 88%;
    margin-top: 15%;
}

#Services{
    height: 90vh;
    width: 100%;
   text-align: center;
   padding: 5%;
   text-align: center;
}
#Services h1{
    font-size: 8vh;
}
#Services .p{
    font-size: 4vh;
    color:#f2785f;
    font-weight: bolder;
}
.card{
    width: 100%;
    margin-top: 5rem;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.box{
    width: 25rem;
    height: 20rem;
    background-color:var(--color);
    display: flex;
    flex-direction: column;
    gap:5px;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    color: #fff;

}
.box:hover{
    background-color:crimson;
    cursor: pointer;
   
}
.box i{
    color:#fff;
    font-size: 6rem;
     text-shadow: 0px 0px 10px rgb(85, 0, 255),
     -0px -0px 10px rgb(85, 0, 255) ;
   
}
.box h4{
    font-size: 3rem;
    color:#fff;
}
.box p{
    font-size: 1rem;
    color:rgb(255, 255, 255);
    font-weight: bolder;
}
#Skills{
    height: 60vh;
    width: 100%;
   scroll-padding-top: 50rem;
    scroll-margin: 10rem;
 


}
#Skills .txt1{
    width: 100%;
    display: flex;
    height: 100%;
    align-items: center;
   justify-content: space-evenly;
 
   
}
#Skills h1{
    font-size: 5rem;
    text-align: center;
}
#Skills .p-tag{
    font-size: 2vw;
    color:#f2785f;
    font-weight: bolder;
    text-align: center;
}
.skill-left {
    width: 50%;
    height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 2rem;
  margin-top: 19rem;
  
   
}
.skill-left h3{
    font-size: 2rem;
}
.skill-right{
    width: 50%;
    height: 100%;
    padding: 7rem 10rem; 
   
    
}
.skill-right h6{
    font-size:2.3rem ;
     margin-top: 1.4rem;
}


.skill-left p{
    font-size: 2vh;
    margin-top: 0.5rem;
}
.skill-left button {
    background-color: var(--color);
    margin-top: 1rem;
    padding: 0.8rem 2.5rem;
    border: none;
    font-size: 1.3rem;
    font-weight: bold;
    color: white;
    border-radius: 5px;
}
.range{
   height: 0.8rem;
   width:80%;
   background-color: rgb(24, 23, 23);
   position: relative;
   z-index: -30;
   
}
.range::after{
    content: '';
    top:50%;
    left: 45%;
    background-color: var(--color);
    transform: translate(-50%,-50%);
    width: 90%;
    height: 0.8rem;
    position: absolute;
    z-index: -30;
}

.range1{
    height: 0.8rem;
    width:80%;
    background-color: rgb(24, 23, 23);
    position: relative;
    z-index: -30;
    
 }
 .range1::after{
     content: '';
     top:50%;
     left: 30%;
     background-color: var(--color);
     transform: translate(-50%,-50%);
     width: 60%;
     height: 0.8rem;
     position: absolute;
 }

 .range2{
    height: 0.8rem;
    width:80%;
    background-color: rgb(24, 23, 23);
    position: relative;
    z-index: -30;
    
 }
 .range2::after{
     content: '';
     top:50%;
     left: 20%;
     background-color: var(--color);
     transform: translate(-50%,-50%);
     width: 40%;
     height: 0.8rem;
     position: absolute;
 }
 .range3{
    height: 0.8rem;
    width:80%;
    background-color: rgb(24, 23, 23);
    position: relative;
    z-index: -20;
    
 }
 .range3::after{
     content: '';
     top:50%;
     left: 44%;
     background-color: var(--color);
     transform: translate(-50%,-50%);
     width: 88%;
     height: 0.8rem;
     position: absolute;
 }
 
 








@media (max-width:600px) {
    nav ul {
        position: fixed;
        top: 10vh;
        height: 100vh;
        left: 100%;
        width: 40%;
        background-color: var(--color);
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: 0.5s ease-in-out;
        z-index: 10;


    }

    ul.show {
        left: 60%;
    }

    nav .bx {
        display: block;
    }

    nav ul li {}

    nav ul li a {
        display: block;
        font-size: 1.8rem;
    }

    nav ul button {
        background-color: crimson;
    }


    #Home {
        flex-direction: column;
    }

    .left {
        width: 100%;

    }
    .left .txt{
  margin-right: 3rem;
    }
    .left h1{
        font-size: rem;
    }
    .left h2{
        font-size: 1rem;
    }
   

    .right {
        width: 100%;
    }
    .right img{
        margin-top: -1rem;
        height: 100%;
    }
    .card{
        gap:1rem
    }
    
    #Services h1{
        font-size: 8vh;
        margin-top: 3rem;
    }
    .box1{
         margin-top: -3rem;
    }
    #SKills{
  padding: none;
  margin: none;
   height: 70vh;
    }
    .skill-left{
         width: 100vw;
        padding:none;
      text-align: center;
        margin: none;
        height: 100%;
        padding-right: 1.5rem;

      
       
    }
    #Skills h1{
        margin-top: 38rem;
        font-size: 4rem;
    }
    .skill-left p{
        font-size: 10px;
        
    }
    #Skills .p-tag{
        font-size: 8vw;
        
    }
    .skill-left h3{
        font-size: 2rem;
        margin-top: -8rem;
        
    }
    .skill-right{
        width: 100%;
        height: 100%;
        margin-right: 15.5rem;
        margin-top: -4rem;
    }
    #Skills .txt1{
       margin-top: 5rem;
        flex-direction: column;
        padding: none;
    }
    .skill-right div{
        width: 80vw;
    }

}
